body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;}

p {
    font-family: 'Outfit', sans-serif;}

a{
    font-family: 'Outfit', sans-serif;}

.text-muted{
    font-weight: 300;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* HEADER INICIA */
/*  */
/*  */
#container-nav {
    padding: 0;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.nav-link {
    color: black;
    height: auto;
    font-weight: 500;
}

.navbar-nav{
    margin: 0 auto;
    width:50%;
}

.navbar-links-container {
    width: 100%;
}

.navbar-toggler-icon {
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    color: black;
}

.nav-item {
    text-align: center;
    width: 100%;
}

#scanner-border {
    border-radius: 30px;
    background-color: #000;
    width: auto;
    color: white;
    width: 90%;
    margin: 0 auto;
}

:hover#scanner-border {
    background-color: white;
    border: 1px solid #000;
    color: black;
    transition: 0.4s;
}

.carrito-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito {
    font-size: 20px;
}

/* HEADER TERMINA */

/*  */

/* FOOTER INICIA */

.container-footer {
    margin: 0;
    padding: 0;
}

/* FOOTER TERMINA */

/*  */

/* HOME INICIA */


/* PRIMERA PARTE HOME */

.container-principal-home {
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-1-home {
    display: flex;
    align-items: center;
    margin: 0;
}

.texto-principal{
    margin: 0;
    margin-left: 10%;
    width: auto;
}

.subtexto-principal-home {
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.row-1-subtitulos-home {
    display: flex;
    width: fit-content;
    margin-left: 10%;
}

.bloque-1-subtitulos-home {
    display: flex;
    align-items: center;
    width: fit-content;
}

.bloque-2-subtitulos-home {
    display: flex;
    align-items: center;
    width: fit-content;
}

.iconos-subtitulos-home {
    font-size: 20px;
    margin: 15px;
}

.subtexto-1-home {
    display: flex;
    flex-direction: column;
}

.subtexto-2-home {
    display: flex;
    flex-direction: column;
}


.home-image {
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
}

.imagen-principal {
    display: flex;
    justify-content: end;
    padding: 0;
}

.widget-tradingview-home {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* PRIMERA PARTE HOME TERMINA */

/*  */

/* SEGUNDA PARTE HOME INICIA */

.container-segunda-parte-home {
    background-color: #fff;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos-segunda-parte-home {
    color: black;
    display: flex;
    align-items: center;
}

#col-izq-segunda-parte-home h2 {
    margin-left: 10%;
}

#col-izq-segunda-parte-home p {
    margin-left: 10%;
}

.buttons-segunda-parte-home {
    margin-left: 10%;
    word-spacing: 2rem;
}

#imagen-segunda-parte-home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;
}

#imagen-segunda-parte-home img{
    width: 70%;
    height: auto;
    border-radius: 20px;
    margin-right: 10%;
}

.container-tercera-parte-home {
    background-color: #fff;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos-tercera-parte-home {
    color: black;
    display: flex;
    align-items: center;
}

#col-der-tercera-parte-home h2 {
    margin-right: 10%;
    text-align: right;
}

#col-der-tercera-parte-home p{
    text-align: right;
    margin-right: 10%;
}

.buttons-tercera-parte-home {
    display: flex;
    justify-content: right;
    margin-right: 10%;
}

#button-2-tercera-parte-home {
    margin-right: 2rem;
}

#imagen-tercera-parte-home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
}

#imagen-tercera-parte-home img{
    width: 70%;
    height: auto;
    border-radius: 20px;
    margin-left: 10%;
}
/* SEGUNDA PARTE HOME TERMINA */

/*  */

/* TERCERA PARTE HOME */

.contenedor-tercera-parte-home{
    display: flex;
    justify-content: center;
    text-align: center;
}

.col-1-tercera-parte-home {
    display: flex;
    justify-content: center;
}

#img-tercera-parte-home {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#img-tercera-parte-home img {
    width: 100%;
    margin: 0;
}

#col-2-tercera-parte-home {
    display: flex;
    justify-content: center;
}

#col-2-tercera-parte-home p{
    width: 70%;
}

/* FIN CUARTA PARTE HOME */

/*  */
/*  */

/* INCIA SCANNER */

/* INICIA PRIMERA PARTE SCANNER */

.container-principal-texto-scanner {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-principal-widgets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container-secundario-widgets {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tradingview-widget-container-1 {
    width: 90%;
    height: 90vh;
}

.tradingview-widget-container-2 {
    width: 90%;
    height:90vh;
}


/* CONTAINER FULL CHART */

.container-3-widget {
    width: 100%;
    height: 100vh;
}

.row-container-full-chart{
    width:90%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.col-full-chart {
    height: auto;
    width: 100%;
}

.full-chart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* TERMINA PRIMERA PARTE SCANNER */

/* TERCERA PARTE SCANNER */

/* TERMINAR TERCERA PARTE SCANNER */

.tercera-parte-scanner {
    height: 100vh;
    width: 100%;
}

.container-tercera-parte-scanner{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    margin-top: 5%;
}

.row-tercera-parte-scanner{
    height: 100%;
    width: 90%;
}

.col-tercera-parte-scanner{
    height: 100%;
    width: 100%;
}

.tradingview-widget-container-3 {
    width: 100%;
    margin-right: 20%;
}

.tradingview-widget-container-4 {
    width: 100%;
    margin-left: 20%;
}


/* TERMINA SCANNER */


/* CONTACTO */

.contacto {
    height: auto;
    margin: 0 auto;
    padding: 5%;
}

/* TERMINA CONTACTO */

/* DISCLAIMER INICIA */

.contenedor-disclaimer {
    margin: 10%;
}

/* DISCLAIMER TERMINA */

/* MEDIA QUERIES HOME INICIA */
/*  */
/*  */

@media (max-width: 768px) {


    #container-nav {
        width: 100%;
        margin: 0;
        position:absolute;
    }

    

    .container-principal-home {
        padding: 0;
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }



    .texto-principal{
        font-size: 5rem;
        width: 80%;
    }



    .home-image {
        width: 80%;
        margin-bottom: 50px;
    }

    .row-1-home {
        display: flex;
        align-items: center;
        margin-top: 100px;
    }

    .subtexto-principal-home {
        width: 70%;
    }

    #imagen-segunda-parte-home {
        justify-content: left;
        margin-left: 8%;
        margin-top: 8%;
    }

    #imagen-segunda-parte-home img{
        margin-right: 0;
    }

    #col-der-tercera-parte-home h2 {
        margin-right: 0;
        margin-left: 10%;
        width: 90%;
        text-align: left;
    }

    #col-der-tercera-parte-home p{
        text-align: left;
        margin-right: 0;
        margin-left: 10%;
        width: 90%;
    }
    
    .container-tercera-parte-home{
        margin-top:15%;
    }

    .buttons-tercera-parte-home {
        justify-content: left;
        margin-left: 10%;
    }
    
    #button-2-tercera-parte-home {
        margin-right: 2rem;
    }

}
/* MEDIA QUERIES HOME TERMINA */