/* MEDIA QUERIES HOME INICIA */
/*  */
/*  */

@media (max-width: 1110px) {
    .container-primera-parte-home {
        .row {
            .col-1-primera-parte {
                h1 {
                    font-size: 5rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .container-primera-parte-home {

        .row {
            .col-1-primera-parte {
                margin-top: 15%;

                h1 {
                    font-size: 4rem;
                }

                p {
                    width: 80%;
                }
            }
        }
    }

    // SEGUNDA PARTE HOME

    .container-segunda-parte-home {
        .row {
            .col-1-segunda-parte-home {
                h2 {
                    font-size: 2rem;
                }

                p {
                    width: 80%;
                }

                .buttons-col-1-segunda-parte-home {
                    button {
                        margin-bottom: 20px;
                    }
                }
            }

            .col-2-segunda-parte-home {
                img {
                    width: 80%;
                    margin-top: 1rem;
                }
            }

        }
    }

    .container-segunda-parte-2-home {
        margin-top: 5rem;

        .row {
            #col-4-segunda-parte-2-home {
                h2 {
                    font-size: 2rem;
                }

                p {
                    width: 80%;
                }

                .buttons-tercera-parte-home {
                    button {
                        margin-bottom: 20px;
                    }
                }
            }

            .col-3-segunda-parte-home {
                img {
                    width: 80%;
                    margin-top: 1rem;
                }
            }
        }
    }

    .contenedor-tercera-parte-home {
        margin-top: 5rem;
        .row {

            .col-1-tercera-parte-home {

                h2 {
                    font-size: 2rem;
                }
            }

            .col-3-tercera-parte-home {
                p {
                    width: 80%;
                }
            }
        }
    }

}

/* MEDIA QUERIES HOME TERMINA */


/* DISCLAIMER INICIA */

.contenedor-disclaimer {
    margin: 10%;
}

/* DISCLAIMER TERMINA */

//

/* MEDIA QUERIES SCANNER */

@media (max-width: 768px) {

    #logo-header {
        width: 50%;
    }

    #logo-header img {
        width: 100%;
        height: auto;
    }

    .container-texto-principal-scanner {
        padding-top: 5rem;
    }

    .full-chart-scanner {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #col-derecha-scanner {
        height: 100rem;
    }

    .tipos-de-cambio-col {
        padding: 0;
    }

    .calendario-economico-col {
        padding: 0;
    }

    .container-segunda-parte-scanner {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

// MEDIA QUERIES SCANNER TERMINA

//

/* MEDIA QUERIES CONTACTO INICIA */

@media (max-width: 768px) {
    #contacto {
        padding-top: 5rem;
    }
}

//* MEDIA QUERIES CONTACTO TERMINA *

//

// MEDIA QUERIES CURSOS INICIA

@media (max-width: 1300px) {
    .container-tercera-parte-cursos {
        height: 130vh;
    }
} 

@media (max-width: 992px) {

    .container-tercera-parte-cursos {
        height: auto;

        .row {
            .col-cursos {
                margin-bottom:50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container-principal-cursos {
        padding-top: 20%;

        .row {
            .col1 {
                margin-top: 50px;

                h2 {
                    font-size: 3rem;
                }
            }
        }
    }

    .container-segunda-parte-cursos {
        height: auto;

        .row {

            .col1 {
                justify-content: center;
                padding: 20px;

                img {
                    width: 10%;
                }
            }

            .col2 {
                hr {
                    height: 1px;
                    width: 70%;
                    color: $color4;
                }
            }

            .col3 {
                justify-content: center;
                text-align: center;

                p {
                    font-size: 30px;
                    width: 70%;
                }
            }
        }
    }

    .container-tercera-parte-cursos {
        height: auto;
        margin-top: 50px;
        margin-bottom: 100px;

        .row {
            height: auto;

            .col-cursos {

                .container {
                    width: 90%;
                    margin-top: 50px;
                }
            }
        }
    }

    .container-cuarta-parte-cursos {
        width: 85%;
        height: auto;

        p {
            font-size: 30px;
        }
    }

    .reseñas-cursos {
        height: auto;

        .row {
            height: auto;
        }
    }
}

// MEDIA QUERIES CURSOS TERMINA