@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
@import url(c:\Users\barst\Desktop\Themarketlab - emiliano velazquez\css\bootstrap.min.css);
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: h3;
}

h4 {
  font-size: h4;
}

h5 {
  font-size: h5;
}

h1 {
  color: #000;
}

p {
  color: #6e6e6e;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
}

p {
  font-family: 'Outfit', sans-serif;
}

a {
  font-family: 'Outfit', sans-serif;
}

.text-muted {
  font-weight: 300;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/*  */
/* FOOTER INICIA */
footer {
  background-color: #000;
}

footer p {
  color: white;
  font-size: 16px;
}

/* FOOTER TERMINA */
/*  */
/* HOME INICIA */
/* PRIMERA PARTE HOME */
.container-primera-parte-home {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container-primera-parte-home .row {
  padding: 0;
}

.container-primera-parte-home .row .col-1-primera-parte {
  height: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
}

.container-primera-parte-home .row .col-1-primera-parte h1 {
  margin: 4% 0 4% 0;
}

.container-primera-parte-home .row .col-1-primera-parte span {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-primera-parte-home .row .col-1-primera-parte p {
  font-size: 16px;
  margin-bottom: 2rem;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio {
  width: 17rem;
  height: 4rem;
  background-color: black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio .row {
  width: 100%;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio .row .col-3 {
  padding: 0;
  padding-left: 5px;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio .row .col-3 i {
  background-color: white;
  border: 10px solid #fff;
  border-radius: 100%;
  color: #00ffb1;
  font-size: 35px;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio .row .col-9 {
  height: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio .row .col-9 a {
  color: white;
  font-size: 17px;
  text-decoration: none;
}

.container-primera-parte-home .row .col-1-primera-parte .button-inicio:active {
  background-color: red;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container-primera-parte-home .row .button-inicio:hover {
  background-color: #00ffb1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.container-primera-parte-home .row .col-2-primera-parte {
  padding: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-primera-parte-home .row .col-2-primera-parte img {
  width: 80%;
  background-size: cover;
}

.widget-tradingview-home {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 250px;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* PRIMERA PARTE HOME TERMINA */
/*  */
/*  */
/* SEGUNDA PARTE HOME INICIA */
.container-segunda-parte-home {
  background-color: #fff;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-segunda-parte-home .row-segunda-parte-home {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home h2 {
  margin-left: 10%;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home p {
  margin-left: 10%;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home .buttons-col-1-segunda-parte-home {
  margin-left: 10%;
  word-spacing: 2rem;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home .buttons-col-1-segunda-parte-home button {
  background-color: #000;
  border: 0;
  border-radius: 0;
  height: 3rem;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home .buttons-col-1-segunda-parte-home button a {
  color: #000;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home .buttons-col-1-segunda-parte-home button:hover {
  background-color: #00FFB1;
  border: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container-segunda-parte-home .row-segunda-parte-home .col-1-segunda-parte-home .buttons-col-1-segunda-parte-home button:hover a {
  color: #000;
}

.container-segunda-parte-home .row-segunda-parte-home .col-2-segunda-parte-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.container-segunda-parte-home .row-segunda-parte-home .col-2-segunda-parte-home img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.container-segunda-parte-2-home {
  background-color: #fff;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home h2 {
  margin-left: 10%;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home p {
  margin-left: 10%;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home .buttons-tercera-parte-home {
  margin-left: 10%;
  word-spacing: 2rem;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home .buttons-tercera-parte-home button {
  background-color: #000;
  border: 0;
  border-radius: 0;
  height: 3rem;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home .buttons-tercera-parte-home button a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home .buttons-tercera-parte-home button:hover {
  background-color: #00ffb1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home #col-4-segunda-parte-2-home .buttons-tercera-parte-home button:hover a {
  color: #000;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home .col-3-segunda-parte-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.container-segunda-parte-2-home .row-segunda-parte-2-home .col-3-segunda-parte-home img {
  width: 70%;
  margin: 0 auto;
}

/* SEGUNDA PARTE HOME TERMINA */
/*  */
/* INICIA TERCERA PARTE HOME */
.contenedor-tercera-parte-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contenedor-tercera-parte-home .col-1-tercera-parte-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-tercera-parte-home .col-2-tercera-parte-home {
  padding: 0;
}

.contenedor-tercera-parte-home .col-2-tercera-parte-home img {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contenedor-tercera-parte-home .col-3-tercera-parte-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-tercera-parte-home .col-3-tercera-parte-home p {
  width: 70%;
}

.contenedor-tercera-parte-home #links-tercera-parte-home button {
  width: 40%;
  border-radius: 0;
  background-color: #000;
  border: 0;
  height: 3rem;
}

.contenedor-tercera-parte-home #links-tercera-parte-home button a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.contenedor-tercera-parte-home #links-tercera-parte-home button:hover {
  background-color: #00ffb1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.contenedor-tercera-parte-home #links-tercera-parte-home button:hover a {
  color: #000;
}

/* FIN TERCERA PARTE HOME */
/*  */
/*  */
/* INCIA SCANNER */
.container-texto-principal-scanner {
  padding-top: 5%;
  padding-bottom: 1%;
}

.container-textos-scanner {
  padding-top: 5%;
  padding-bottom: 1%;
}

.full-chart-scanner {
  height: 30rem;
  width: 100%;
  padding: 0;
}

.smart-tape-scanner {
  margin-top: 3%;
}

.tipos-de-cambio-col {
  height: 40rem;
  width: 100%;
  padding-left: 0;
}

.calendario-economico-col {
  height: 40rem;
  width: 100%;
  padding-right: 0;
}

/* CONTACTO */
/* TERMINA CONTACTO */
/* HEADER INICIA */
.row {
  margin: 0;
  padding: 0;
}

#container-nav {
  height: auto;
  width: 100%;
  z-index: 3;
  background-color: white;
}

#container-nav .row {
  width: 100%;
  display: block;
}

#container-nav .row .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-nav .row .col-6 img {
  width: auto;
}

#container-nav .row .col-6 .navbar-collapse ul li {
  margin: 10px;
}

#container-nav .row .col-6 .navbar-collapse ul li a {
  font-weight: 500;
  color: black;
}

#container-nav .row .col-6 .navbar-collapse ul #scanner-nav {
  background-color: black;
  width: 15rem;
  margin-left: 4rem;
}

#container-nav .row .col-6 .navbar-collapse ul #scanner-nav a {
  color: white;
  text-align: center;
  font-weight: 500;
}

#container-nav .row .col-6 .navbar-collapse ul #scanner-nav:hover {
  background-color: #00ffb1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#container-nav .row .col-6 .navbar-collapse ul #scanner-nav:hover a {
  color: #000;
}

/* HEADER TERMINA */
.container-principal-cursos {
  padding: 0;
  height: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-principal-cursos .row {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container-principal-cursos .row .col1 {
  padding: 0;
  width: 50%;
}

.container-principal-cursos .row .col1 h2 {
  color: black;
  font-size: 4rem;
}

.container-principal-cursos .row .col1 h2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 300;
}

.container-principal-cursos .row .col2 {
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-principal-cursos .row .col2 img {
  width: 100%;
}

.continua-viendo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}

.continua-viendo i {
  width: 30px;
  font-size: 20px;
}

.continua-viendo p {
  color: #000;
  margin: 0;
  font-size: 20px;
}

.container-segunda-parte-cursos {
  background-color: red;
  height: auto;
  margin: 50px 0 50px 0;
  background-image: url(../pictures/cursos2.png);
}

.container-segunda-parte-cursos .row {
  padding: 0;
  height: 100%;
}

.container-segunda-parte-cursos .row .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.container-segunda-parte-cursos .row .col1 img {
  width: 20%;
}

.container-segunda-parte-cursos .row .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-segunda-parte-cursos .row .col2 hr {
  height: 70%;
  width: 1px;
  background-color: white;
}

.container-segunda-parte-cursos .row .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container-segunda-parte-cursos .row .col3 p {
  width: 40%;
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.container-tercera-parte-cursos {
  width: 100%;
  height: 100vh;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.container-tercera-parte-cursos .row {
  height: 100%;
  width: 100%;
}

.container-tercera-parte-cursos .row .col-cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-tercera-parte-cursos .row .col-cursos .container {
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 70px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 70px;
}

.container-tercera-parte-cursos .row .col-cursos .container div {
  margin: 20px;
}

.container-tercera-parte-cursos .row .col-cursos .container div h4 {
  text-align: center;
  font-size: 25px;
}

.container-tercera-parte-cursos .row .col-cursos .container div h4 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-tercera-parte-cursos .row .col-cursos .container div #contenido {
  text-align: center;
  color: #9d9d9d;
}

.container-tercera-parte-cursos .row .col-cursos .container div hr {
  height: 1px;
  width: 85%;
  color: #9d9d9d;
}

.container-tercera-parte-cursos .row .col-cursos .container div div ul {
  padding: 0;
}

.container-tercera-parte-cursos .row .col-cursos .container div div ul li {
  text-align: center;
  list-style: none;
}

.container-tercera-parte-cursos .row .col-cursos .container div div ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-tercera-parte-cursos .row .col-cursos .container div div ul div i {
  width: 30px;
}

.container-tercera-parte-cursos .row .col-cursos .container div .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-tercera-parte-cursos .row .col-cursos .container div .price p {
  font-weight: 500;
  font-size: 40px;
}

.container-tercera-parte-cursos .row .col-cursos .container div .price p span {
  font-weight: 300;
  font-size: 25px;
}

.container-tercera-parte-cursos .row .col-cursos .container div .button-cursos {
  width: auto;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-tercera-parte-cursos .row .col-cursos .container div .button-cursos button {
  width: 80%;
  height: 70%;
  border-radius: 0;
  color: #000;
}

.container-tercera-parte-cursos .row .col-cursos .container div .button-cursos button:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container-tercera-parte-cursos .row .col-cursos .container div .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-tercera-parte-cursos .row .col-cursos .container div .link a {
  color: #9d9d9d;
  font-size: 15px;
}

.container-tercera-parte-cursos .row .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-tercera-parte-cursos .row .col2 .container {
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 7px;
  border: 1px solid #000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 70px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 70px;
}

.container-tercera-parte-cursos .row .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-tercera-parte-cursos .row .col3 .container {
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 70px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 70px;
}

.curso-personalizado {
  height: 100vh;
}

.curso-personalizado h2 {
  text-align: center;
}

.curso-personalizado p {
  text-align: center;
  font-size: 20px;
}

.curso-personalizado .container .selector {
  margin-top: 3%;
}

.curso-personalizado .container .selector label {
  font-size: 20px;
}

.curso-personalizado .container .selector .sel {
  margin-bottom: 10%;
  width: 100%;
  height: auto;
  border: 1px solid #DEDEDE;
}

.container-cuarta-parte-cursos {
  background: linear-gradient(-45deg, #22edbf, #85d285, #b4ef61, #124735);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  border-radius: 40px;
}

.container-cuarta-parte-cursos p {
  font-size: 40px;
  color: white;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.email-cursos #upper-text {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin: 5%;
}

.email-cursos p {
  text-align: center;
  font-weight: 500;
  color: #e6e6e6;
}

.email-cursos .form-cursos {
  width: 60%;
}

.email-cursos .form-cursos .form-control {
  width: 100%;
  height: 4rem;
  border-radius: 30px;
  opacity: 40%;
}

.email-cursos .form-cursos .btn-sendd {
  float: right;
  margin-top: -64px;
  border-radius: 30px;
  height: 4rem;
  width: 30%;
}

.email-cursos .form-cursos .btn-sendd p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.reseñas-cursos {
  background-image: url(/pictures/background-gradient-cursos.png);
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}

.reseñas-cursos .container {
  margin-top: 10%;
}

.reseñas-cursos .container h5 {
  font-size: 40px;
  text-align: center;
}

.reseñas-cursos .container p {
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.reseñas-cursos .row {
  height: 30rem;
  margin-top: 10%;
}

.reseñas-cursos .row .col-reseñas i {
  color: #FCBC6C;
  margin-bottom: 2rem;
}

.reseñas-cursos .row .col-reseñas q {
  font-size: 17px;
  font-style: italic;
}

.reseñas-cursos .row .col-reseñas p {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 500;
}

.formulario-contacto {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario-contacto form input {
  border: 0;
  border-bottom: 1px solid #DFE0E1;
  border-radius: 0;
}

.formulario-contacto form .form-check input {
  position: relative;
  margin: 0 1% 0 0;
}

.formulario-contacto form .form-check label span a {
  color: #000;
  text-decoration: underline;
}

.formulario-contacto form button {
  background-color: #000;
  border: 0;
  border-radius: 0;
  height: 3rem;
  color: #fff;
}

.formulario-contacto form button:hover {
  background-color: #00FFB1;
  color: #000;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: 0;
}

#preguntas-frecuentes {
  margin-top: 3rem;
}

#preguntas-frecuentes .row .card {
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  margin: 40px;
}

#preguntas-frecuentes .row .card .card-header {
  background-color: transparent;
}

#preguntas-frecuentes .row .card .card-header button {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
}

#preguntas-frecuentes .row .card .card-header i {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preguntas-frecuentes .row .card .card-body {
  background-color: #fff;
  text-align: left;
  color: #6b6b6b;
}

#preguntas-frecuentes .row .card .card-body i {
  margin-left: 10px;
  color: #00FFB1;
}

.avales {
  margin-top: 5rem;
  margin-bottom: -4rem;
  padding: 5rem 0 5rem 0;
  background-color: #000;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avales h3 {
  color: #fff;
  margin-bottom: 2rem;
}

.avales h3 span {
  font-weight: 300;
}

.avales .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avales .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avales .container .row .col img {
  margin: 3rem 0 5rem 0;
  width: 70%;
  height: auto;
}

/* MEDIA QUERIES HOME INICIA */
/*  */
/*  */
@media (max-width: 1110px) {
  .container-primera-parte-home .row .col-1-primera-parte h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .container-primera-parte-home .row .col-1-primera-parte {
    margin-top: 15%;
  }
  .container-primera-parte-home .row .col-1-primera-parte h1 {
    font-size: 4rem;
  }
  .container-primera-parte-home .row .col-1-primera-parte p {
    width: 80%;
  }
  .container-segunda-parte-home .row .col-1-segunda-parte-home h2 {
    font-size: 2rem;
  }
  .container-segunda-parte-home .row .col-1-segunda-parte-home p {
    width: 80%;
  }
  .container-segunda-parte-home .row .col-1-segunda-parte-home .buttons-col-1-segunda-parte-home button {
    margin-bottom: 20px;
  }
  .container-segunda-parte-home .row .col-2-segunda-parte-home img {
    width: 80%;
    margin-top: 1rem;
  }
  .container-segunda-parte-2-home {
    margin-top: 5rem;
  }
  .container-segunda-parte-2-home .row #col-4-segunda-parte-2-home h2 {
    font-size: 2rem;
  }
  .container-segunda-parte-2-home .row #col-4-segunda-parte-2-home p {
    width: 80%;
  }
  .container-segunda-parte-2-home .row #col-4-segunda-parte-2-home .buttons-tercera-parte-home button {
    margin-bottom: 20px;
  }
  .container-segunda-parte-2-home .row .col-3-segunda-parte-home img {
    width: 80%;
    margin-top: 1rem;
  }
  .contenedor-tercera-parte-home {
    margin-top: 5rem;
  }
  .contenedor-tercera-parte-home .row .col-1-tercera-parte-home h2 {
    font-size: 2rem;
  }
  .contenedor-tercera-parte-home .row .col-3-tercera-parte-home p {
    width: 80%;
  }
}

/* MEDIA QUERIES HOME TERMINA */
/* DISCLAIMER INICIA */
.contenedor-disclaimer {
  margin: 10%;
}

/* DISCLAIMER TERMINA */
/* MEDIA QUERIES SCANNER */
@media (max-width: 768px) {
  #logo-header {
    width: 50%;
  }
  #logo-header img {
    width: 100%;
    height: auto;
  }
  .container-texto-principal-scanner {
    padding-top: 5rem;
  }
  .full-chart-scanner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #col-derecha-scanner {
    height: 100rem;
  }
  .tipos-de-cambio-col {
    padding: 0;
  }
  .calendario-economico-col {
    padding: 0;
  }
  .container-segunda-parte-scanner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* MEDIA QUERIES CONTACTO INICIA */
@media (max-width: 768px) {
  #contacto {
    padding-top: 5rem;
  }
}

@media (max-width: 1300px) {
  .container-tercera-parte-cursos {
    height: 130vh;
  }
}

@media (max-width: 992px) {
  .container-tercera-parte-cursos {
    height: auto;
  }
  .container-tercera-parte-cursos .row .col-cursos {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .container-principal-cursos {
    padding-top: 20%;
  }
  .container-principal-cursos .row .col1 {
    margin-top: 50px;
  }
  .container-principal-cursos .row .col1 h2 {
    font-size: 3rem;
  }
  .container-segunda-parte-cursos {
    height: auto;
  }
  .container-segunda-parte-cursos .row .col1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .container-segunda-parte-cursos .row .col1 img {
    width: 10%;
  }
  .container-segunda-parte-cursos .row .col2 hr {
    height: 1px;
    width: 70%;
    color: #9d9d9d;
  }
  .container-segunda-parte-cursos .row .col3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container-segunda-parte-cursos .row .col3 p {
    font-size: 30px;
    width: 70%;
  }
  .container-tercera-parte-cursos {
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .container-tercera-parte-cursos .row {
    height: auto;
  }
  .container-tercera-parte-cursos .row .col-cursos .container {
    width: 90%;
    margin-top: 50px;
  }
  .container-cuarta-parte-cursos {
    width: 85%;
    height: auto;
  }
  .container-cuarta-parte-cursos p {
    font-size: 30px;
  }
  .reseñas-cursos {
    height: auto;
  }
  .reseñas-cursos .row {
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */