@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
@import "../css/bootstrap.min.css";
$color1: #000;
$color2: #00ffb1;
$color3: #fff;
$color4: #9d9d9d;
$color5: #d7d7d7;

body {
    margin: 0;
    padding: 0;
}

// MAPA TITULOS

$headings: (h1: 6em,
    h2:3em,
    h3:2em,
    h4:1em,
    h5:0.75em);

$h1: map-get($headings, h1);
$h2: map-get($headings, h2);
$h3:map-get($headings, h3);
$h4:map-get($headings, h4);
$h5:map-get($headings, h5);



// MAPA COLORES
$colores: (titulos: #000,
    secundario: #00ffb1,
    subtitulos: #6e6e6e);

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: h3;
}

h4 {
    font-size: h4;
}

h5 {
    font-size: h5;
}

h1 {
    color: map-get($colores, titulos);
}

p {
    color: map-get($colores, subtitulos);
}


// MIXIN 
@mixin row {
    margin: 0;
    padding: 0;
}

@mixin col {
    margin: 0;
    padding: 0;
}

@mixin container-fluid {
    margin: 0;
    padding: 0;
}

@mixin nav-link {
    color: $color1;
    height: auto;
    font-weight: 500;
}

.row {
    @include row
}

.col {
    @include col
}

.container-fluid {
    @include container-fluid
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

p {
    font-family: 'Outfit', sans-serif;
}

a {
    font-family: 'Outfit', sans-serif;
}

.text-muted {
    font-weight: 300;
}

.row {
    @include row
}

.col {
    @include col
}



.container-fluid {
    margin: 0;
    padding: 0;
}

/*  */

/* FOOTER INICIA */


footer {
    background-color: $color1;

    p {
        color: white;
        font-size: 16px;
    }
}


/* FOOTER TERMINA */

/*  */

/* HOME INICIA */



/* PRIMERA PARTE HOME */

.container-primera-parte-home {
    padding: 0;
    height: fit-content;

    .row {

        padding: 0;

        .col-1-primera-parte {
            height: auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10%;

            h1 {
                margin: 4% 0 4% 0;
            }

            span {
                font-weight: 300;
                display: flex;
                flex-direction: row;
            }

            p {
                font-size: 16px;
                margin-bottom: 2rem;
            }

            .button-inicio {
                width: 17rem;
                height: 4rem;
                background-color: black;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                .row {
                    width: 100%;

                    .col-3 {
                        padding: 0;
                        padding-left: 5px;

                        i {
                            background-color: white;
                            border: 10px solid $color3;
                            border-radius: 100%;
                            color: $color2;
                            font-size: 35px;
                        }
                    }

                    .col-9 {
                        height: auto;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {
                            color: white;
                            font-size: 17px;
                            text-decoration: none;
                        }
                    }
                }
            }
            .button-inicio:active {
                background-color: red;
                transition: 0.1s;
            }
            
        }

        .button-inicio:hover {
            background-color: $color2;
            transition: 0.4s ease;
        }

        .col-2-primera-parte {

            padding: 0;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                background-size: cover;

            }
        }
    }
}

// WIDGET TRADINGVIEW

.widget-tradingview-home {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 250px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PRIMERA PARTE HOME TERMINA */

/*  */
/*  */

/* SEGUNDA PARTE HOME INICIA */

.container-segunda-parte-home {
    background-color: #fff;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    .row-segunda-parte-home {
        color: black;
        display: flex;
        align-items: center;

        .col-1-segunda-parte-home {
            h2 {
                margin-left: 10%;
            }

            p {
                margin-left: 10%;
            }


            .buttons-col-1-segunda-parte-home {
                margin-left: 10%;
                word-spacing: 2rem;

                button {
                    background-color: #000;
                    border: 0;
                    border-radius: 0;
                    height: 3rem;

                    a {
                        color: $color1;
                        display: block;
                        text-decoration: none;
                        font-size: 16px;
                        color: #fff;

                    }
                }

                button:hover {
                    background-color: #00FFB1;
                    border: 0;
                    transition: 0.4s ease-in-out;

                    a {
                        color: #000;
                    }
                }
            }

        }

        .col-2-segunda-parte-home {
            display: flex;
            width: 100%;
            height: 100%;

            img {
                width: 70%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}

.container-segunda-parte-2-home {
    background-color: #fff;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;

    .row-segunda-parte-2-home {
        color: black;
        display: flex;
        align-items: center;

        #col-4-segunda-parte-2-home {

            h2 {
                margin-left: 10%;
            }

            p {
                margin-left: 10%;
            }

            .buttons-tercera-parte-home {
                margin-left: 10%;
                word-spacing: 2rem;

                button {
                    background-color: #000;
                    border: 0;
                    border-radius: 0;
                    height: 3rem;
                
                    a {
                        color: #fff;
                        display: block;
                        text-decoration: none;
                        font-size: 16px;
                    }
                }

                button:hover {
                    background-color: #00ffb1;
                    transition: 0.4s ease-in-out;

                    a {
                        color: #000;
                    }
                }
            }
        }

        .col-3-segunda-parte-home {
            display: flex;
            justify-items: center;

            img {
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}



/* SEGUNDA PARTE HOME TERMINA */

/*  */

/* INICIA TERCERA PARTE HOME */



.contenedor-tercera-parte-home {
    display: flex;
    justify-content: center;
    text-align: center;

    .col-1-tercera-parte-home {
        display: flex;
        justify-content: center;
    }

    .col-2-tercera-parte-home {
        padding: 0;

        img {
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .col-3-tercera-parte-home {
        display: flex;
        justify-content: center;

        p {
            width: 70%;
        }
    }

    #links-tercera-parte-home {
        button {
            width: 40%;
            border-radius: 0;
            background-color: #000;
            border: 0;
            height: 3rem;

            a {color: #fff;
                display: block;
                text-decoration: none;
            }
        }

        button:hover {
            background-color: #00ffb1;
            transition: 0.4s ease-in-out;

            a {
                color: #000;
            }
        }
    }
}



/* FIN TERCERA PARTE HOME */

/*  */
/*  */

/* INCIA SCANNER */


.container-texto-principal-scanner {
    padding-top: 5%;
    padding-bottom: 1%;
}

.container-textos-scanner {
    padding-top: 5%;
    padding-bottom: 1%;
}

.full-chart-scanner {
    height: 30rem;
    width: 100%;
    padding: 0;
}

.smart-tape-scanner {
    margin-top: 3%;
}

.tipos-de-cambio-col {
    height: 40rem;
    width: 100%;
    padding-left: 0;
}

.calendario-economico-col {
    height: 40rem;
    width: 100%;
    padding-right: 0;
}

/* CONTACTO */


/* TERMINA CONTACTO */

// IMPORT //

@import "../scss/header";

@import "../scss/cursos";

@import "../scss/contacto";

@import "../scss/queries";

@import "../scss/carrito";

@import "../scss/calc";